/*headerOver*/
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1000px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background-image: -webkit-linear-gradient(to top, #0f0f0f, #393939);
    background-image: linear-gradient(to top, #0f0f0f, #393939);
}

.page > img, .page > div {
    position: absolute;
    top: 50%;
    left: 50%;
    /*之前都从外面移动进来 所以不用隐藏*/
    opacity: 0;
}

/*page0*/
#page0 {
    z-index: 2;
    background-image: -webkit-linear-gradient(to top, #0f0f0f, #393939);
    background-image: linear-gradient(to top, #0f0f0f, #393939);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#page0 #p0p1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-style: preserve-3d;
}

#page0 #p0Arrow {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-shadow: 1px 2px 8px rgba(255, 255, 255, 0.8);
    animation: shakeUpDown 2s ease infinite alternate 0s;
    display: none;
}

@keyframes shakeUpDown {
    from {
        top: 88%;
    }
    to {
        top: 90%;
    }
}

/*page1*/
#page1 #p1Type {
    color: white;
    font-size: 24px;
    /*font-weight: bold;*/
}

/*circle*/
#circles {
    position: fixed;
    height: 70px;
    width: 15px;
    top: 50%;
    right: 3%;
    display: none;
}

#circles ul li {
    width: 10px;
    height: 10px;
    background-color: #606060;
    margin: 0 auto 15px;
    transition: all 0.8s ease 0s;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
}

#circles ul li.cur {
    background-color: #ffffff;
    opacity: 0.8;
}

#circles ul li.cur::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    left: -4px;
    top: -4px;
    border-radius: 50%;
}
